.form {
	display: flex;
	position: relative;
}

.input__form {
	width: 100%;
	border: 1px solid rgba(0, 0, 0, .3);
	border-radius: 50px;
	padding: 1.19rem  0 1.19rem 1rem;
}

.input__form::placeholder {
	font-style: italic;
}

.btn__submit {
	background: linear-gradient(to right, hsl(0, 80%, 86%) 20%, hsl(0, 74%, 74%) 100%);
	border-radius: 50px;
	border: 0;
	padding: 1rem 2rem;
	position: absolute;
	top: 0;
	right: 0;
	transition: transform .3s ease-in;
}

.btn__submit:hover {
	cursor: pointer;
	transform: scale(1.1);
}

.icon_error {
	position: absolute;
	top: 25%;
	right: 5.5rem;
	display: none;
}

.msg_error {
	color: red;
	font-size: 13px;
	margin: .5rem 0 0 2rem;
	display: none;
}