.img__hero {
	min-width: 100%;
	min-height: 100%;
}

@media only screen and (max-width: 700px) {

	.img__hero {

		background: url("../images/hero-mobile.jpg") center no-repeat;
		min-width: 375px;
		min-height: 200px;
	}
}

@media only screen and (min-width: 700px) {

	body {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 90px calc(100vh - 90px);
	}

	.header {
		grid-column-start: 1;
		grid-column-end: 2;
	}

	.main {
		grid-column-start: 1;
		grid-column-end: 2;	
		grid-row-start: 2;
		grid-row-end: 3;
		align-items: center;
	}

	.main {
		display: flex;
		flex-flow: row-reverse;
		gap: 2rem;
	}

	.img__hero {

		background: url("../images/hero-desktop.jpg") 100% center no-repeat;
		grid-column-start: 2;
		grid-column-end: 3;
		grid-row-start: 1;
		grid-row-end: 3;
	}
}